{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
    {{ super() }} <!--super() function tells Jinja not to override any code that is defined in the block-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <hr>
    <h1>PITCH CATEGORIES</h1>
    {{ macro.displayCategoryList(category) }}
    <br>
    <br>
    <hr>
    
    <h3 class="add-category"><a class="btn btn-primary" href="/add/category" style="background-color:#002457; float:right;"><span aria-hidden="true"> ADD CATEGORY </span></a></h3>   
</div>


{% endblock  %}